<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GYM" connectionString="workstation id=gimnasio-db.mssql.somee.com;packet size=4096;user id=calexander_SQLLogin_1;pwd=g3bhmshs9r;data source=gimnasio-db.mssql.somee.com;persist security info=False;initial catalog=gimnasio-db " providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>